{{!< default}}

{{#post}}

<div class="index">
    <div class="wrapper">
        <h1 class="right">{{title}}</h1>
        <h2 class="left">Introduction</h2>
    </div>
</div>

<div class="profile {{post_class}}">
    <img src="{{author.image}}" class="profileimage" alt="user">
    <h4>{{author.name}}</h4>
    <ul>
        {{! ADD AUTHOR SOCIAL LINKS HERE }}
        {{! REMOVE ANY UNWATED LINKS }}
        {{! SOCIAL LINKS ARE ALSO REQUIRED BELOW WHERE COMMENTED }}
        {{! TWITTER }}<li><a href="http://twitter.com/franwess" class="smallsocialbutton twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
        {{! FACEBOOK }}<li><a href="http://facebook.com/franwess" class="smallsocialbutton facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
        {{! RSS - LEAVE DEFAULT }}<li><a href="{{@blog.url}}/rss/" class="smallsocialbutton rss" target="_blank"><i class="fa fa-rss"></i></a></li>
    </ul>
    <p>{{author.bio}}</p>
    <hr>
</div>

<div id="cover" class="cover {{post_class}}">
    <div class="background"></div>
    <header class="wrapper">
        <h2>{{tags}}</h2>
        <h1><a href="#">{{title}}</a></h1>
        <span>
            Posted by <a href="{{author.website}}" target="_blank">{{author.name}}</a>
                on <i class="fa fa-clock-o"></i> <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMMM Do, YYYY'}}</time>.
        </span>
    </header>
</div>

<section class="posts wrapper">
    <article class="post {{post_class}}">
        <header>
            <div class="feature"><span>Featured</span><i class="fa fa-bookmark fa-lg"></i></div>
            <h2>{{tags}}</h2>
            <h1 id="posttitle"><a href="#">{{{title}}}</a></h1>
            <span>
                Posted by <a href="{{author.website}}" target="_blank">{{author.name}}</a>
                on <i class="fa fa-clock-o"></i> <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMMM Do, YYYY'}}</time>.
            </span>
        </header>
        <section class="postbody">
            {{content}}
        </section>
        <footer>
            <ul class="share left">
                <li><a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="smallbutton lightgray"><i class="fa fa-twitter"></i>Twitter</a></li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="smallbutton lightgray"><i class="fa fa-facebook"></i>Facebook</a></li>
            </ul>
            {{#if tags}}
            <ul class="tags right">
                {{#foreach tags}}
                <li class="smallbutton solidgray">{{name}}</li>
                {{/foreach}}
            </ul>
            {{/if}}
        </footer>
        <div class="postprofile">
            <img src="{{author.image}}" class="author" alt="user">
            <div class="info">
                <h4>{{author.name}}</h4>
                <a href="{{author.website}}">{{author.website}}</a>
                <p>{{author.bio}}</p>
                <ul class="social">
                    {{! ADD AUTHOR SOCIAL LINKS HERE }}
                    {{! REMOVE ANY UNWATED LINKS }}
                    {{! ADD AUTHOR SOCIAL LINKS HERE }}
                    {{! TWITTER }}<li><a href="http://twitter.com/" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    {{! FACEBOOK }}<li><a href="http://facebook.com/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    {{! GITHUB }}<li><a href="http://github.com/" class="github" target="_blank"><i class="fa fa-github-alt"></i></a></li>
                    {{! RSS - LEAVE DEFAULT}}<li><a href="{{@blog.url}}/rss/" class="rss" target="_blank"><i class="fa fa-rss"></i></a></li>
                    {{! YOUTUBE }}<li><a href="http://youtube.com/" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    {{! DRIBBBLE }}<li><a href="http://dribbble.com/" class="dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                    {{! GOOGLE+ }}<li><a href="http://plus.google.com/" class="googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    {{! INSTAGRAM }}<li><a href="http://instagram.com/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    {{! LINKEDIN }}<li><a href="http://linkedin.com/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                </ul>
            </div>
        </div>
        <div class="comments">
            <a href="javascript:;" class="readmore smallbutton blue"><i class="fa fa-comments"></i>View Comments...</a>
            <div id="disqus_thread"></div>
            <div id="g-comments"></div>
        </div>

    </article>

</section>

{{/post}}